html {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  box-sizing: border-box;
}
body {
  margin: 0 10px;
}
main {
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 50px;
}
header {
  text-align: center;
}
dt, dl {
  display: inline-block;
  margin: 0;
}
span {
  z-index: 3;
}
button:focus {
  outline: none;
}
select {
  background-color: #fff;
  border-color: lightgrey;
}
select:focus {
  outline: none;
  border: 1px #F16027 solid;
}
input:focus {
  outline: none;
  border: 1px #F16027 solid;
}
textarea:focus {
  outline: none;
  border: 1px #F16027 solid;
}

#original-language {
  height: 38px;
}
#word {
  margin-left: 5px;
  padding-right: 15px;
  padding-left: 10px;
  width: 190px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid lightgrey;
}
#word:focus {
  border: 1px #F16027 solid!important;
}
.word-input {
  position: relative;
  display: inline-block;
}
.word-input:hover span {
  display: block;
}
.word-input span {
  display: none;
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -8px;
  cursor: pointer;
  color: lightgrey;
}
.word-input span:hover {
  color: #F16027;
}

#inputted {
  max-width: 950px;
  width: 100%;
  margin-bottom: 20px;
  position: absolute;
  padding: 20px 0;
  top: 40px;
  background: #fff;
  z-index: 2;
  text-align: center;
}
.inputted-container {
  width: 321px;
  margin: 0 auto;
}

body {
    position: relative;
}
body .follow {
    position: fixed!important; /*added by scrolling*/
    top: 0!important;
}

/* table */
.table-container {
  overflow-x: scroll;
}.table {
  width: 950px;
}

/* #sotable */
#sortable {
  border: 1px #e1e4e8 solid;
  border-bottom: none;
}
#sortable .section {
  padding: 20px;
  border-bottom: 1px #e1e4e8 solid;
  cursor: move;
}
#sortable .section:hover {
  background-color: #f9f9f9;
}
.sortable-header {
  background-color: #F16027;
  color: #fff;
  padding: 20px;
  border: 1px #F16027 solid;
  margin-top: 70px;
  border-bottom: none;
}
.sortable-header > div {
  text-align: center;
}
.sortable-header > div, .section > div {
  display: inline-block;
}

/* .section */
.ui-state-highlight {
  height: 73px;
  background-color: rgb(250, 255, 189);
}
.section {
  z-index: 4;
}
.section input {
  width: 90%;
  height: 22px;
  margin-left: 5%;
}
.order {
  width: 50px;
}
.order input {
  width: 25px;
  text-align: center;
}
.language {
  width: 200px;
}
.language select {
  margin-left: 8px;
  height: 30px;
}
.key {
  width: 60px;
}
.key input{
  width: 40px;
  margin-left: 6px;
  text-align: center;
}
.translation, .conversion {
  width: 270px;
}
.translation div, .conversion div {
  width: 20px;
  display: inline-block;
  position: relative;
}
.translation input, .conversion input {
  width: 78%;
}
.section span {
  display: inline-block;
  cursor: pointer;
  color: grey;
  padding: 6px;
}
.copy-button:hover .wrap-arrow {
  display: block!important;
}
.translation .wrap-arrow, .conversion .wrap-arrow {
  position: absolute;
  width: 50px;
  top: -30px;
  left: -11px;
  display: none;
}
.arrow_box {
	position: relative;
	background: #000000;
  color: #ffffff;
  border-radius: 5px;
  font-size: small;
  padding: 5px 10px!important;
}
.arrow_box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000000;
	border-width: 10px;
	margin-left: -10px;
}
.garbage {
  font-size: 12px;
  padding-left: 13px;
  color: lightgrey;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.garbage:hover {
  color: #F16027;
}
#add-section {
  border: none;
  font-size: 25px;
  background-color: transparent;
  color: lightgrey;
  margin-top: -8px;
  margin-left: 18px;
  margin-bottom: 20px;
  cursor: pointer;
}
#add-section:hover {
  color: #F16027;
}
.buttons {
  text-align: center;
  margin-bottom: 30px;
}
.buttons button {
  border-color: #F16027;
  border-radius: 10px;
  color: #F16027;
  font-size: 15px;
  padding: 10px;
  margin: 0 20px;
  margin-bottom: 10px;
}
.buttons button:hover {
  background-color: #F16027;
  color: #fff;
}
.formatted textarea {
  display: block;
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
  height: 150px;
  box-sizing: border-box;
}
#convert span {
  padding-right: 5px;
}

/* processing... */
body #indicator {
  display: none;
}
body.processing #indicator {
  z-index: 1;
  position: absolute;
  display: block;
  padding: 20px 0 50px 0;
  width: 450px;
  top: 30%;
  left: 50%;
  margin-left: -225px;
  text-align: center;
  background-color: #000;
  color: #fff;
  opacity: 0.8;
  border-radius: 10px;
}

@media only screen and (max-width: 958px) {
  body .follow {
      margin-left: -10px;
  }
}

@media only screen and (max-width: 430px) {
  #inputted select, #inputted input{
    margin-bottom: 10px;
    height: 30px;
  }
  .word-input span {
    margin-top: -14px;
  }
  .table-container {
    margin-top: 60px;
  }
  .buttons {
    margin-bottom: 15px;
  }
  .buttons button {
    margin: 0 10px;
    margin-bottom: 20px;
  }
}
